<div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
  <!-- <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4 mb-4">
      <h2 class="title m-0">Just a few seconds...</h2>
      <h4 class="body-2 text-secondary m-0">Email confirmation is on the progress.</h4>
    </div>
  </div> -->
</div>
