.message_card {
    width: 50%;
}

.message_txt {
    font-size: 13px;
    color: #b3b3b3;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
 
  th.mat-column-country, td.mat-column-country, th.mat-column-currency, td.mat-column-currency, th.mat-column-fx, td.mat-column-fx{
    width: 8%;
  }
  .add-country-btn{
    display: flex;
    justify-content: flex-end;
  }

  table{
    width: 100%;
   }
   
   .mobile-label {
    display: none;
  }
  .mat-column{
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-id {
    flex: 0 0 10%;
  }
  .mat-column-fx{
    flex: 0 0 3%;
  }
  .mat-column-currency, .mat-column-country{
    flex: 0 0 5%;
  }
  .mat-column-name, .mat-column-foreign{
    flex: 0 0 10%;
  }

  .example-container {
   background-color: white;
  }
  @media(max-width: 1000px) {
    .mobile-label {
      width: 100px;
      display: inline-block;
      font-weight: bold;
    }

    .example-container {
      overflow-x: scroll;
    }
  
    // .mat-header-row {
    //   display: none;
    // }
  
    // .mat-row { 
    //   flex-direction: column;
    //   align-items: start;
    //   padding: 8px 24px;
    // }
    // .mat-column{
    //   flex: 0 0 100% !important;
    // }
  }


 