<div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Reset Password</h2>
      <h4 class="body-2 text-secondary m-0">Enter your new password.</h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col" autocomplete="off">
      <mat-form-field  fxLayout="column" fxFlex="100">
        <mat-label>{{objLang.translates['commonloginpassword']}}</mat-label>
        <input [type]="inputType" formControlName="password" matInput required autocomplete="organization">
        <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
          <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
          <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
        </button>
        <!-- <mat-hint>{{objLang.translates['commonloginclick_eye']}}</mat-hint> -->
      </mat-form-field>
      <mat-form-field  fxLayout="column" fxFlex="100">
          <mat-label>{{objLang.translates['commonloginpassword_confirm']}}</mat-label>
          <input [type]="inputType" formControlName="passwordConfirm" matInput required autocomplete="new-password">
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>{{objLang.translates['commonloginrepeat_password']}}</mat-hint>
      </mat-form-field>

      <button (click)="send()" class="mt-2" color="primary" mat-raised-button type="button">
        Reset password
      </button>
    </div>
  </div>
</div>
