<ng-container>
  <mat-card class="max-w-full mt-6 mb-6 p-8">
    <!-- Address -->
    <div class="flex-container heading-1">
      <div fxLayout="row" fxLayoutAlign="end end" class="pb-3 sm:pb-1">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlexAlign="center" class="font-medium text-sm sm:text-xl sm:pb-3">
          Address
        </div>
      </div>
      <!-- Country -->
      <div fxLayout="row wrap" class="row pt-2 pb-2" fxLayoutAlign="space-between center" >
        <!-- Label -->
        <div fxLayout="column" fxFlex="100" fxFlex="100" fxFlexAlign="center" class="column pb-1">
          <div fxLayout="row" fxLayoutAlign="start center" class="text-xs font-bold sm:text-sm sm:font-normal">
            Country
          </div>
        </div>
        <!-- Input -->
        <div fxLayout="column" fxFlex="100" fxFlex="100"  fxFlexAlign="center" class="column text-xs">
          <mat-form-field appearance="outline" [style.background]="'#f7f7f7'">
            <input matInput [ngModel]="user.country" readonly="true"/>
            <mat-icon matSuffix [icIcon]="icLock">lock</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <!-- Street -->
      <div fxLayout="row wrap" class="row pt-2 pb-2" fxLayoutAlign="space-between center" >
        <!-- Label -->
        <div fxLayout="column" fxFlex="100" fxFlex="100" fxFlexAlign="center" class="column pb-1">
          <div fxLayout="row" fxLayoutAlign="start center" class="text-xs font-bold sm:text-sm sm:font-normal">
            Street
          </div>
        </div>
        <!-- Input -->
        <div fxLayout="column" fxFlex="100" fxFlex="100"  fxFlexAlign="center" class="column text-xs">
          <mat-form-field appearance="outline" >
            <input matInput [(ngModel)]="user['street']"/>
          </mat-form-field>
        </div>
      </div>
      <!-- Nr. and Zip code -->
      <div fxLayout="row wrap">
        <!-- Nr. -->
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" class="pr-4">
          <div fxLayout="row wrap" class="row pt-2 pb-2" fxLayoutAlign="space-between center" >
            <!-- Label -->
            <div fxLayout="column" fxFlex="100" fxFlex="100" fxFlexAlign="center" class="column pb-1">
              <div fxLayout="row" fxLayoutAlign="start center" class="text-xs font-bold sm:text-sm sm:font-normal">
                Nr.
              </div>
            </div>
            <!-- Input -->
            <div fxLayout="column" fxFlex="100" fxFlex="100"  fxFlexAlign="center" class="column text-xs">
              <mat-form-field appearance="outline" >
                <input matInput [(ngModel)]="user['nr']"/>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Zip code -->
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50"  class="pr-4">
          <div fxLayout="row wrap" class="row pt-2 pb-2" fxLayoutAlign="space-between center" >
            <!-- Label -->
            <div fxLayout="column" fxFlex="100" fxFlex="100" fxFlexAlign="center" class="column pb-1">
              <div fxLayout="row" fxLayoutAlign="start center" class="text-xs font-bold sm:text-sm sm:font-normal">
                Zip Code
              </div>
            </div>
            <!-- Input -->
            <div fxLayout="column" fxFlex="100" fxFlex="100"  fxFlexAlign="center" class="column text-xs">
              <mat-form-field appearance="outline" >
                <input matInput [(ngModel)]="user['zipcode']"/>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <!-- City -->
      <div fxLayout="row wrap" class="row pt-2 pb-2" fxLayoutAlign="space-between center" >
        <!-- Label -->
        <div fxLayout="column" fxFlex="100" fxFlex="100" fxFlexAlign="center" class="column pb-1">
          <div fxLayout="row" fxLayoutAlign="start center" class="text-xs font-bold sm:text-sm sm:font-normal">
            City
          </div>
        </div>
        <!-- Input -->
        <div fxLayout="column" fxFlex="100" fxFlex="100"  fxFlexAlign="center" class="column text-xs">
          <mat-form-field appearance="outline" >
            <input matInput [(ngModel)]="user['city']"/>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- Areas -->
    <div class="flex-container heading-1 row-calc-end pt-8">
      <div fxLayout="row" fxLayoutAlign="end end" class="pb-3 sm:pb-1 row">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlexAlign="center" class="column font-medium text-sm sm:text-xl sm:pb-3">
          {{objLang.translates['individualspecialareas']}}
        </div>
      </div>
      <div fxLayout="row wrap" class="row-calc pt-2 pb-2" fxLayoutAlign="space-between center" *ngFor="let area of specialInputs.areas">
        <!-- Label -->
        <div fxLayout="column" fxFlex="100" fxFlex="80" fxFlexAlign="center" class="column">
          <div fxLayout="row" fxLayoutAlign="start center" class="text-xs font-bold sm:text-sm sm:font-normal">
            {{objLang.translates['individualspecial'+area.name]}}
          </div>
        </div>
        <!-- Input -->
        <div fxLayout="column" fxFlex="100" fxFlex="20"  fxFlexAlign="center" class="column text-xs">
          <mat-form-field appearance="outline" >
            <input matInput [(ngModel)]="area.val"/>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- Additions -->
    <div class="flex-container heading-1 row-calc-end pt-8">
      <div fxLayout="row" fxLayoutAlign="end end" class="pb-3 sm:pb-1 row">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlexAlign="center" class="column font-medium text-sm sm:text-xl sm:pb-3">
          {{objLang.translates['individualspecialadditions']}}
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" class="column row-calc pt-2 pb-2" *ngFor="let addition of specialInputs.additions">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="center space-between">
              <mat-checkbox class="example-margin" color="primary" [(ngModel)]="addition.status">{{objLang.translates['individualspecial'+addition.name]}}</mat-checkbox>
            </div>
            <div fxLayout="column" fxLayoutAlign="center space-between">
              <mat-radio-group color="primary" aria-label="Select an option" class="pl-6 shadowing_group" *ngIf="addition.name == 'window_shadowing' && addition.status" [(ngModel)]="addition.val" fxLayout="row">
                <mat-radio-button value="partly" class="mr-2">partly</mat-radio-button>
                <mat-radio-button value="all">all</mat-radio-button>
              </mat-radio-group>
              <mat-form-field appearance="outline" *ngIf="addition.name == 'garge' && addition.status">
                <!-- <mat-label>Quantity parking</mat-label> -->
                <input matInput [(ngModel)]="addition.val"/>
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="addition.name == 'terrace' && addition.status">
                <input matInput [(ngModel)]="addition.val"/>
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Natural disasters -->
    <div class="flex-container heading-1 row-calc-end pt-8">
      <div fxLayout="row" fxLayoutAlign="end end" class="pb-3 sm:pb-1 row">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlexAlign="center" class="column font-medium text-sm sm:text-xl sm:pb-3">
          {{objLang.translates['individualspecialnatural_disasters']}}
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" class="column row-calc pt-2 pb-2" *ngFor="let natural_disaster of specialInputs.natural_disasters">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="center space-between">
              <mat-checkbox class="example-margin" color="primary" [(ngModel)]="natural_disaster.status">{{objLang.translates['individualspecial'+natural_disaster.name]}}</mat-checkbox>
            </div>
            <div fxLayout="column" fxLayoutAlign="center space-between">
              <mat-form-field appearance="outline" *ngIf="natural_disaster.status">
                <input matInput [(ngModel)]="natural_disaster.val"/>
                <span matSuffix>years</span>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="pt-6" *ngIf="objAuth.user['user_role'] != 'admin'">
      <button mat-raised-button color="primary" [ngClass]="['bg-green-500', 'text-contrast-white']" class="mr-2" (click)="saveSpecial()">{{objLang.translates['commongeneralsave']}}</button>
      <button mat-raised-button color="primary" (click)="objAuth.goPage('/individual/livingspace')" class="next_btn">Go to Living Space</button>
    </div>
  </mat-card>
  
  
</ng-container>