.content{
    // align-self: center;
    margin: auto;
    width: 800px;
}
table {
    width: 100%;
}
// .analyse-btn{
//     padding-top: 15px !important;
// }
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 0.7em 0 !important;
}
.mat-select-arrow-wrapper {
    vertical-align: bottom !important;
}
