<main>
        <div
          class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
        >
          <div
            class="absolute top-0 w-full h-full bg-center bg-cover"
            style="
              background-image: url('assets/img/loan/mortgage_apply-1200-1.jpg');
            "
          >
            <span
              id="blackOverlay"
              class="w-full h-full absolute opacity-50 bg-black"
            ></span>
          </div>
          <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
              <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                <div class="">
                  <h1 class="text-white font-semibold text-5xl">
                    {{objLang.translates['commongeneralfind_your_best_rate']|uppercase}}
                  </h1>
                  <p class="mt-4 text-lg text-gray-300">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  </p>
                  <button mat-raised-button color="warn" class="calc_btn mt-6" routerLink="/individual/basis" *ngIf="!objAuth.isLoggedIn">Free Trial</button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
            style="transform: translateZ(0);"
          >
            <svg
              class="absolute bottom-0 overflow-hidden"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="none"
              version="1.1"
              viewBox="0 0 2560 100"
              x="0"
              y="0"
            >
              <polygon
                class="text-gray-300 fill-current"
                points="2560 0 2560 100 0 100"
              ></polygon>
            </svg>
          </div>
        </div>
      
        <section class="pb-20 bg-gray-300 -mt-24">
          <div class="container mx-auto px-4">
            <div class="flex flex-wrap">
              <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                <div
                  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
                >
                  <div class="px-4 py-5 flex-auto">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
                    >
                      <!-- <i class="fas fa-award"></i> -->
                      <ic-icon [icon]="faAward" class="text-white" height="20px" width="20px"></ic-icon>
                    </div>
                    <h6 class="text-xl font-semibold">{{objLang.translates['commongeneralawarded_agency']}}
                      </h6>
                    <p class="mt-2 mb-4 text-gray-600">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </p>
                  </div>
                </div>
              </div>
      
              <div class="w-full md:w-4/12 px-4 text-center">
                <div
                  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
                >
                  <div class="px-4 py-5 flex-auto">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
                    >
                      <ic-icon [icon]="faRetweet" class="text-white" height="20px" width="20px"></ic-icon>
                    </div>
                    <h6 class="text-xl font-semibold">{{objLang.translates['commongeneralfree_revisions']}}
                      </h6>
                    <p class="mt-2 mb-4 text-gray-600">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </p>
                  </div>
                </div>
              </div>
      
              <div class="pt-6 w-full md:w-4/12 px-4 text-center">
                <div
                  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
                >
                  <div class="px-4 py-5 flex-auto">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
                    >
                    <ic-icon [icon]="faFingerprint" class="text-white" height="20px" width="20px"></ic-icon>
                    </div>
                    <h6 class="text-xl font-semibold">{{objLang.translates['commongeneralverified_company']}}</h6>
                    <p class="mt-2 mb-4 text-gray-600">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </p>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="flex flex-wrap items-center mt-32">
              <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                <div
                  class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
                >
                    <ic-icon [icon]="faUserfriends" class="text-gray-700" height="30px" width="30px"></ic-icon>
                </div>
                <h3 class="text-3xl mb-2 font-semibold leading-normal">
                  Working with us is a pleasure
                </h3>
                <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                </p>
                <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                </p>
                <a [routerLink]="['/']" class="font-bold text-gray-800 mt-8">
                  Contact us anytime!
                </a>
              </div>
      
              <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                <div
                  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
                >
                  <img
                    alt="..."
                    src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
                    class="w-full align-middle rounded-t-lg"
                  />
                  <blockquote class="service_block relative p-8 mb-4 bg-red-600">
                    <svg
                      preserveAspectRatio="none"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 583 95"
                      class="absolute left-0 w-full block h-95-px -top-94-px"
                    >
                      <polygon
                        points="-30,95 583,95 583,65"
                        class="text-red-600 fill-current"
                      ></polygon>
                    </svg>
                    <h4 class="text-xl font-bold text-white">
                      Top Services
                    </h4>
                    <p class="text-md font-light mt-2 text-white">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </section>
      
        <section class="relative py-20">
          <div
            class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
            style="transform: translateZ(0);"
          >
            <svg
              class="absolute bottom-0 overflow-hidden"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="none"
              version="1.1"
              viewBox="0 0 2560 100"
              x="0"
              y="0"
            >
              <polygon
                class="text-white fill-current"
                points="2560 0 2560 100 0 100"
              ></polygon>
            </svg>
          </div>
      
          <div class="container mx-auto px-4">
            <div class="items-center flex flex-wrap">
              <div class="w-full md:w-4/12 ml-auto mr-auto px-4 mt-16">
                <img
                  alt="..."
                  class="max-w-full rounded-lg shadow-lg"
                  src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                />
              </div>
              <div class="w-full md:w-5/12 ml-auto mr-auto px-4 mt-16">
                <div class="md:pr-12">
                  <div
                    class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
                  >
                    <ic-icon [icon]="faRocket" class="text-pink" height="20px" width="20px"></ic-icon>
                  </div>
                  <h3 class="text-3xl font-semibold">A growing company</h3>
                  <p class="mt-4 text-lg leading-relaxed text-gray-600">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  </p>
                  <ul class="list-none mt-6">
                    <li class="py-2">
                      <div class="flex items-center">
                        <div>
                          <span
                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                          >
                            <i class="fas fa-fingerprint"></i>
                          </span>
                        </div>
                        <div>
                          <h4 class="text-gray-600">
                            Lorem ipsum dolor sit amet
                          </h4>
                        </div>
                      </div>
                    </li>
                    <li class="py-2">
                      <div class="flex items-center">
                        <div>
                          <span
                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                          >
                            <i class="fab fa-html5"></i>
                          </span>
                        </div>
                        <div>
                          <h4 class="text-gray-600">
                            Lorem ipsum dolor sit amet
                          </h4>
                        </div>
                      </div>
                    </li>
                    <li class="py-2">
                      <div class="flex items-center">
                        <div>
                          <span
                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                          >
                            <i class="far fa-paper-plane"></i>
                          </span>
                        </div>
                        <div>
                          <h4 class="text-gray-600">Lorem ipsum dolor sit amet</h4>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      
        <section class="pb-16 pt-16 relative block bg-gray-900">
          <div
            class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
            style="transform: translateZ(0);"
          >
            <svg
              class="absolute bottom-0 overflow-hidden"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="none"
              version="1.1"
              viewBox="0 0 2560 100"
              x="0"
              y="0"
            >
              <polygon
                class="text-gray-900 fill-current"
                points="2560 0 2560 100 0 100"
              ></polygon>
            </svg>
          </div>
      
          <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
            <div class="flex flex-wrap text-center justify-center  mt-16">
              <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold text-white">
                  Build something
                </h2>
                <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
              </div>
            </div>
            <div class="flex flex-wrap mt-12 justify-center">
              <div class="w-full lg:w-3/12 px-4 text-center">
                <div
                  class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
                >
                    <ic-icon [icon]="faAward" class="text-gray-900" height="20px" width="20px"></ic-icon>
                </div>
                <h6 class="text-xl mt-5 font-semibold text-white">
                  Excellent Services
                </h6>
                <p class="mt-2 mb-4 text-gray-500">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </p>
              </div>
              <div class="w-full lg:w-3/12 px-4 text-center">
                <div
                  class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
                >
                  <ic-icon [icon]="faPoll" class="text-gray-900" height="20px" width="20px"></ic-icon>
                </div>
                <h5 class="text-xl mt-5 font-semibold text-white">
                  Grow your market
                </h5>
                <p class="mt-2 mb-4 text-gray-500">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </p>
              </div>
              <div class="w-full lg:w-3/12 px-4 text-center">
                <div
                  class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
                >
                    <ic-icon [icon]="faLightbulb" class="text-gray-900" height="20px" width="20px"></ic-icon>   
                </div>
                <h5 class="text-xl mt-5 font-semibold text-white">
                  Launch time
                </h5>
                <p class="mt-2 mb-4 text-gray-500">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="relative block py-24 lg:pt-0 bg-gray-900">
          <div class="container mx-auto px-4">
            <div class="flex flex-wrap justify-center lg:-mt-64">
              <div class="w-full lg:w-6/12 px-4">
                <div
                  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300"
                >
                  <div class="flex-auto p-5 lg:p-10 mt-16">
                    <h4 class="text-2xl font-semibold">
                      Want to work with us?
                    </h4>
                    <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                      Complete this form and we will get back to you in 24 hours.
                    </p>
                    <div class="relative w-full mb-3 mt-8" fxLayout="row wrap">
                      <label
                        fxFlex="100" fxLayout="column"
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        htmlFor="full-name"
                      >
                        Full Name
                      </label>
                      <input
                        fxFlex="100" fxLayout="column"
                        type="text"
                        class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                        placeholder="Full Name"
                      />
                    </div>
      
                    <div class="relative w-full mb-3" fxLayout="row wrap">
                      <label fxFlex="100" fxLayout="column"
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        htmlFor="email"
                      >
                        Email
                      </label>
                      <input
                        type="email"
                        fxFlex="100" fxLayout="column"
                        class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                        placeholder="Email"
                      />
                    </div>
      
                    <div class="relative w-full mb-3" fxLayout="row wrap">
                      <label fxFlex="100" fxLayout="column"
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        htmlFor="message"
                      >
                        Message
                      </label>
                      <textarea
                        fxFlex="100" fxLayout="column"
                        rows="4"
                        cols="80"
                        class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                        placeholder="Type a message..."
                      ></textarea>
                    </div>
                    <div class="text-center mt-6">
                      <button
                        class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button"
                      >
                        Send Message
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

<!-- <div class="page-layout simple fullwidth angular-material-elements">
    <div class="slider">
        <div class="slider-content">
            <div class="slider-text">
                <h1 class="column">FIND YOUR BEST RATE</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <button mat-raised-button color="warn" class="calc_btn" routerLink="/individual/basis">Calculate</button>
            </div> 
        </div>
    </div>
    <div class="content">
        <div class="contents">
            <div class="center-content">
                <h2>THE BEST WAY TO UNDERSTAND &<br/>GET YOUR LOAN</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <button mat-raised-button color="primary">Read more</button>
            </div>
        </div>
        <div class="features">
            <h2>LORM IPSUM DOLOR SIT</h2>
            <div class="row">
                <div class="column">
                <mat-icon [icIcon]="accountBalance"></mat-icon>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </p>
                </div>
                <div class="column">
                <mat-icon [icIcon]="accountBalance"></mat-icon>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </p>
                </div>
                <div class="column">
                <mat-icon [icIcon]="accountBalance"></mat-icon>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </p>
                </div>
            </div>
        </div>
        <div class="contents">
            <div class="row">
                <div class="column center-content">
                    <h3>LORM IPSUM DOLOR SIT</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="column column-image">
                <img src="https://unsplash.com/photos/MI9-PY5cyNs/download?force=true">
                </div>
            </div>
        </div>
    </div>
</div> -->
