#app-public-individual{
    // align-self: center;
    // margin: auto;
    // min-width: 1200px;
    width: 100%;
}
table {
    width: 100%;
}
.analyse-btn{
    padding-top: 10px;
}
.mat-progress-bar{
    height: 20px;
}
// .next_btn{
//     margin-left: 10px;
// }